<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/writing" method="post">
        작성자 <input type="text" name="작성자"><br>
        비밀번호 <input type="text" name="비밀번호"><br>
        제목 <input type="text" name="제목"><br>
        내용 <input type="text" name="내용"><br>
        <input type="submit" value="작성완료">
        <button onclick="location.href='/'">돌아가기</button>
    </form>
</body>
</html>